.header {
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
    border-bottom: 3px solid rgba(20,45,255, .5);
    margin: auto;
}

.projects {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    text-align: center;
    margin: auto;
}

a:link {
    color: cyan;
}

a:visited {
    color: teal;
}

a:hover {
    color: white;
}

a:active {
    color: rgba(0, 0, 255, .3);
}

.footer {
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
    text-align: center;
}

body {
    margin: 0;
    background-color: black;
}

html {
    background-color: black;
}